
body{
    font-family: 'Suez One', serif;
    font-family: 'Assistant', sans-serif;
font-family: 'Suez One', serif;

.about {
    background color: bisque;
        
}
.container {
  max-width: 900px;
  margin: auto;
}
img {
  max-width: 100%;
  width: auto;
  height: auto;
}
.about .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
align-items: center;
}
