body {
    margin: 0;
    font-family: 'Suez One', serif;
    font-family: 'Assistant', sans-serif;
    
}

.about {
    background-image: url(img/back.png);
    background-size:cover;
    
    
    

}

.container {
    max-width: 900px;
    margin: auto;
    font-size: 20px;
    
}

img {
    max-width: 100%;
    width: auto;
    height: auto;
}

.about .container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    grid-gap: 30px;
    color: white;
}

.about img {
    display: block;
}

h1 {
    font-size: 48px;
    line-height: 1.1;
    color: white;
}

.button {
    color: white;
    text-decoration: none;
    border: 3px solid white;
    padding: 14px 20px;
    display: inline-block;
    margin-top: 10px;
    border-radius: 15px;
    margin-bottom: 10px;
    transition: .3s;

}

h1,
h2,
h3,
h4,
.button {
    font-family: 'Suez One', serif;
    font-weight: 400;
}

.button:hover {
    background-color: white;
    color: #8c5d84;

}

.gallery {
    
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 28px;
    color:#6b4665;
    font-family: 'Suez One', serif;
    font-size: 25;
    text-align: center;
}

}

.gallery img {
    display: block;
}
.contact {
  background:antiquewhite;
  font-size: 40px;
  text-align: center;
  margin-top: 60px;
  padding: 40px 0;
}
.contact a:hover {
color:blue;
}
a {
  color: #000;
  
}
.contact ul {
  list-style: none;
  padding: 0;
}
.contact li {
  margin-bottom: 7px;
}
.footer {
  background:#8c5d84 ;
  text-align: center;
  padding: 20px 0;

}
.footer a {
  margin: 0 10px;
}
.logo {
  max-width: 150px;
  display: block;
  margin: 10px auto;
}




}


