body {

    font-family: 'Arimo', sans-serif;
    color: olive;
    font-size: 30px;
}


h1 {
    font-family: 'Secular One', sans-serif;
    color: firebrick
}

img {
    max-width: 100%;
    width: auto;
    height: auto;
}

.container {
    max-width: 800px;
    margin: auto;



}
