body {

    font-family: 'Arimo', sans-serif;
    color: olive;
    font-size: 20px;
}


h1 {
    font-family: 'Secular One', sans-serif;
    color: firebrick
}

img {
    max-width: 100%;
    width: auto;
    height: auto;
}

.container {
    max-width: 800px;
    margin: auto;



}

.cta {
    background-color: floralwhite;
    font-size: 21 px;
    text-align: center;
    padding: 20px;
    color: crimson;
    margin-top: 50px;
    margin-bottom: 50px;
}
a{
    color: darkblue
}
.button {
    background color: blue;
    color: white;
    text-decoration: none;
    padding: 14px;
    display: inline-block;
}
